absl-py
addict
albumentations
astroid
asttokens
backcall
backports.functools-lru-cache
cachetools
certifi
charset-normalizer
cupy-cuda111
cycler
debugpy
decorator
decord
einops
entrypoints
executing
fastrlock
fvcore
google-auth
google-auth-oauthlib
grpcio
idna
imageio
imageio-ffmpeg
importlib-metadata
iopath
ipykernel
ipython
isort
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
lazy-object-proxy
Markdown
matplotlib
matplotlib-inline
mccabe
memory-profiler
mmcv-full==1.7.2
nest-asyncio
networkx
numpy
oauthlib
opencv-contrib-python
opencv-python
packaging
pandas
parso
pexpect
pickleshare
Pillow
# Pillow-SIMD
platformdirs
portalocker
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
Pygments
pylint
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
pyzmq
requests
requests-oauthlib
rsa
scikit-image
scipy
six
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
termcolor
thop
tifffile
toml
torch
torch-tb-profiler
torchaudio
torchvision
transformers
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
Werkzeug
wrapt
yacs
yapf
zipp
ftfy
regex
num2words
timm